<div class="container">
    <h2 class=" container text-dark text-center pt-5">{{titulo | uppercase}}</h2>
    <br><br> <br>
    <div class="row d-flex justify-content-center">
        <label for="requisitos" class="col  align-items-start ml-4">
          <strong>Ordenar por:</strong>
        </label>
        <select class="custom-select col  " (change)="ordenarProductos()" id="orden" aria-selected="false">
          <option value="Desordenado" selected>
            Desordenado
          </option>
          <option value="Alfabeticamente A-Z" >Alfabeticamente A-Z</option>
          <option value="Alfabeticamente Z-A">Alfabeticamente Z-A</option>
          <option value="Precio Descendente">Precio Descendente</option>
          <option value="Precio Ascendente">Precio Ascendente</option>
        </select>

        <button class="btn  btn-outline-success mx-5" (click)="ListarTodos()">Listar Todos</button>


    </div>
    <ng-container *ngIf="listarProductos">

        <div class="m-auto w-80 h-10">
            <div class="container text-center  bg-light">
                <div class="row p-4">
                    <ng-container *ngFor="let producto of listaTodosPr">
                        <div *ngIf="nombresCoincidentes(producto.nombre)" class="col-sm-6 col-lg-3">
                            <div class="card mt-4  text-centeruk-transition-scale-up uk-transition-opaque uk-transition-toggle card_pintura">
                                <!--style="max-width: 25rem; max-height: 20rem;"-->
                                <div style="height: 4rem;">
                                    <h5 class="card-title text-primary text"><strong>{{producto.getNombre()}}</strong> &nbsp;&nbsp;{{producto.getPrecio()}} .bs </h5>
                                </div>
                                <div class="card-body text-center  uk-transition-toggle" tabindex="0">
                                    <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="{{producto.getImagePath()}}" width="300" height="200" alt="">
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="col-6" href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalDetallesProducto" (click)="setActualizarProducto(producto)"><strong>Detalles </strong></button>
                                    <button class="btn btn-outline-primary col-6" type="button" data-toggle="modal" data-target="#modalCompraP">
                                    
                    <i class="fa fa-plus"></i>  <i
                    class="fa fa-shopping-cart"></i>
                  </button>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf='listarCombos'>
        <div class="m-auto w-80 h-10">
            <div class="container text-center  bg-light">
                <div class="row p-4">
                    <ng-container *ngFor="let combox of listaCombos">
                        <div *ngIf="nombresCoincidentes(combox.nombre)" class="col-sm-6 col-lg-3">
                            <div class="card mt-4  text-centeruk-transition-scale-up uk-transition-opaque uk-transition-toggle card_pintura">
                                <!--style="max-width: 25rem; max-height: 20rem;"-->
                                <div style="height: 4rem;">
                                    <h5 class="card-title text-primary text"><strong>{{combox.getNombre()}}</strong> &nbsp;&nbsp;{{combox.getPrecio()}} .bs </h5>
                                </div>
                                <div class="card-body text-center  uk-transition-toggle" tabindex="0">
                                    <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="{{combox.getImagePath()}}" width="300" height="200" alt="">
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="col-6" href="#" class="btn btn-outline-primary" data-toggle="modal" (click)="setActualizarCombo(combox)"><strong>Detalles </strong></button>
                                    <button class="btn btn-outline-primary col-6" type="button" data-toggle="modal" data-target="#modalCompraP">
                                        
                    <i class="fa fa-plus"></i>  <i
                    class="fa fa-shopping-cart"></i>
                  </button>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!-- Modal detalle de producto-->
<div class="modal fade" id="modalDetallesProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger text-center  w-100" id="exampleModalLabel">{{producto.getNombre()}}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="{{producto.getImagePath()}}" width="300" height="400" alt="">
                <br>
                <strong>Datos:</strong>
                <ul>
                    <li>Categoria de producto: {{producto.getTipo()}}</li>
                    <li>Precio: {{producto.getPrecio()}} bs.</li>
                    <li>Cantidad: {{producto.getCantidad()}}</li>
                    <li>Fecha de vencimiento:{{producto.getFecha()}} </li>
                </ul>
                <strong>Descripcion:</strong>
                <p>
                    {{producto.getDescripcion()}}
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="button" data-dismiss="modal">
                        <i class="fa fa-plus"></i>  <i
                        class="fa fa-shopping-cart"></i> &nbsp; Añadir al carrito
                      </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal detalle de combo-->
<div class="modal fade" id="modalDetalleCombo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger text-center  w-100" id="exampleModalLabel">{{combo.getNombre()}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <img class="uk-transition-scale-up uk-transition-opaque card-img-top" [src]=combo.getFoto() alt="">
                <br>
                <strong>Datos:</strong>
                <ul>
                    <!--<li>Categoria de producto: {{combo.getTipo()}}</li>-->
                    <li>Precio: {{combo.getPrecio()}} bs.</li>

                    <!--<li>Cantidad: {{combo.getCantidad()}}</li>-->
                    <li>Fecha de vencimiento:{{combo.getFecha()}} </li>

                </ul>
                <strong>Contiene los siguientes productos: </strong>
                <ng-container *ngIf="verificador()">
                    <ul *ngFor="let productoPr of listaProductosCombo; index as i ">
                        <li> {{productoPr.nombre}}, perteneciente a la categoria de: {{productoPr.tipo}}</li>
                    </ul>
                    <strong>Descripcion:</strong>
                    <p>
                        {{combo.getDescripcion()}}
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
</div>