.bg-custom-1 {
    background-color: #74ACA1;
  }
  
  .bg-custom-2 {
  background:#4A5070; /*-image: linear-gradient(15deg, #3d24aa 10%,#5e24aa 20%, #E91E63 100%);*/
  }

  .dropdown>.dropdown-item:hover {
    /*Modifica lo que quieras*/
    background: #4A5070;
    color:white;
  }