/*.card_pintura:hover{
    border: solid 0.2rem red;
}
#title{
    position:absolute;
    width: 100%;
}*/
    /*img{
      position: relative;
    }
    p{
      position: absolute;
      padding-top: 50%;
      font-size: 1em;
      top: 100px;
    }*/