<footer class="footer-distributed">
    <div class="footer-right">
        <a class="mr-1" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a class="mr-1" href="https://twitter.com/login?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="mr-1" href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHhGIU4zHooCAAAAXZsgadIV1bJTEAPg_2WncwanqL8I2NzjHrjLHoiyxLVLWR2mxv1cHKSm-77GgL1p6kZLjbUaqG_aJxTujFuz3zeJsv0CEYhIrNamp753--9EdbxCTwskKc=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>

    </div>
    <div class="footer-left">

        <p class="footer-links">

            <a class="mr-3" href="#">Acerca de</a>

            <a class="mr-3" href="#">Nosotros</a>

            <a class="mr-3" href="#">Contactos</a>
        </p>
        <p>SupraSystem &copy; 2020</p>
    </div>
</footer>