<div id="title" class="container py-5 text-center" width="100%">
  <h2 class="container text-dark text-center">REGISTRO DE PRODUCTOS</h2>
</div>
<br>
<div class="container" role="document">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Nombre del producto</label>
            <div class="input-group">
              <input class="form-control bg-white" placeholder="nombre" formControlName="precio">
              <!-- readonly value="{{precioProducto}}" -->
              <span class="btn disabled" style="background-color: #e9ecef;
                border: 1px solid
                rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Precio:</label>
            <div class="input-group">
              <input class="form-control bg-white" placeholder="Ejem: 1111111" formControlName="precio">
              <div class="input-group-addon">
                <select class="custom-select rounded-0" required name="emision">
                  <option value="Bolivianos" selected>
                    Bolivianos
                  </option>
                  <option value="Dolares">Dolares</option>
                  <option value="Euros">Euros</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-form-label mr-1">Fecha de vencimiento:</label>
            <div class="d-flex justify-content">
              <input id="fechaI" name="fechaInicio" [min]="min" placeholder="Fecha inicio" [matDatepicker]="pickerm3"
                class="form-control bg-white" readonly>
              <!-- [max]="max" (dateInput)="setFecha()" #fechaInicio="ngModel" ngModel [class.is-invalid]="fechaInicio.invalid && fechaInicio.touched" [class.is-valid]="fechaInicio.valid && fechaInicio.touched" -->
              <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
              <mat-datepicker #pickerm3></mat-datepicker>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="inputEmail4">Cantidad:</label>
            <div class="input-group">
              <input class="form-control bg-white" placeholder="cantidad" formControlName="cantidad">
              <div class="input-group-addon">
                <select class="custom-select rounded-0" required name="emision">
                  <option value="Bolivianos" selected>
                    unidades
                  </option>
                  <option value="Dolares">Kilos</option>
                  <option value="Euros">Gramos</option>
                  <option value="Euros">Litros</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="nombreConvocatoria" class="col-form-label">
            Descripcion del producto:
          </label>
          <textarea class="form-control" id="tituloConvocatoria" rows="3"
            style="min-height: 100px; max-height: 150px;"></textarea>
        </div>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" style="display:none">
            
            <label class="custom-file-label" for="inputGroupFile04">buscar imagen</label>
            
          </div>
        </div>
<br><br>
        <div class="form-group">
          <div class="d-flex justify-content-between align-items-end">
            <label for="requisitos">Productos A Registrar</label>
            <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#aniadirCompra">
              <i class="fa fa-plus"></i>
              <i class="fa fa-shopping-cart"></i>
              Añadir A Registro
            </button>
          </div>
          <div class="table-responsive mt-3">
            <table class="table align-middle table-hover table-bordered" id="requerimientos">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" scope="col">
                    Nombre
                  </th>
                  <th class="text-center" scope="col">
                    Taminio
                  </th>
                  <th class="text-center" scope="col">
                    Precio
                  </th>
                  <th class="text-center" scope="col">
                    Fecha de vencimiento
                  </th>
                  <th class="text-center" scope="col">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let productos of listaProducto; index as i">
                                    <td>{{productos.getCantidad()}} </td>
                                    <td>{{productos.getColor()}}</td>
                                    <td>{{productos.getPrecio()}}bs </td>
                                    <td class="text-center">
                                        <div class="btn btn-group" role="group">
                                            <button class="btn btn-outline-danger" type="button" title="borrar producto del carrito" (click)="eliminarProducto(productos)">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                                        </div>
                                    </td>
                                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputpwd2">Cantidad Total De Productos</label>
                        <div class="input-group">
                            <input class="form-control bg-white" formControlName='precio' readonly value="{{cantidadTotal}}">
                            <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-sort-numeric-up"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputpwd2">Precio Total De Compra</label>
                        <div class="input-group">
                            <input class="form-control bg-white" formControlName='precio' readonly value="{{precioTotal}}">
                            <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
                        </div>
                    </div>
                </div> -->
        <div class="card-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary">
            Cancelar Registro
          </button>
          <button type="button" class="btn btn-primary">
            Registar Productos
            <i class="fa fa-money-bill"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
