<div id="title" class="container py-5 text-center" width="100%">
  <h2 class="container text-dark text-center">REGISTRO DE PRODUCTOS</h2>
</div>
<br>
<div class="container" role="document">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Nombre del producto</label>
            <div class="input-group">
              <input class="form-control bg-white" id="nombre" placeholder="nombre" (click)="valido('nombre')">
              <span class="btn disabled" style="background-color: #e9ecef;
                border: 1px solid
                rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-cubes"></i></span>
            </div>
            <small class="inline-block text-danger" id="nombre1" style="display: none;">
              datos invalidos
              <small class="fal fa-exclamation-triangle"></small>
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Precio del producto: Bs</label>
            <div class="input-group">
              <input class="form-control bg-white" type="number" id="precio" placeholder="precio"
                (click)="valido('precio')">
              <span class="btn disabled" style="background-color: #e9ecef;
                border: 1px solid
                rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
            </div>
            <small class="inline-block text-danger" id="precio1" style="display: none;">
              datos invalidos
              <small class="fal fa-exclamation-triangle"></small>
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-form-label mr-1">Fecha de vencimiento:</label>
            <div class="d-flex justify-content">
              <input id="fechaI" name="fecha" [min]="min" placeholder="Fecha inicio" [matDatepicker]="pickerm3"
                class="form-control bg-white" readonly>
              <!-- [max]="max" (dateInput)="setFecha()" #fechaInicio="ngModel" ngModel [class.is-invalid]="fechaInicio.invalid && fechaInicio.touched" [class.is-valid]="fechaInicio.valid && fechaInicio.touched" -->
              <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
              <mat-datepicker #pickerm3></mat-datepicker>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Cantidad:</label>
            <div class="input-group">
              <input class="form-control bg-white" type="number" id="cantidad" placeholder="cantidad"
                formControlName="precio" (click)="valido('cantidad')">
              <span class="btn disabled" style="background-color: #e9ecef;
                border: 1px solid
                rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-sort-numeric-down-alt"></i></span>
            </div>
            <small class="inline-block text-danger" id="precio1" style="display: none;">
              datos invalidos
              <small class="fal fa-exclamation-triangle"></small>
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Categoria:</label>
            <div class="input-group-addon">
              <select class="custom-select rounded-0" id="categoria" (click)="validoS('categoria')" id="categoria">
                <option value="frescos" selected>
                  Frescos
                </option>
                <option value="alimentacion">Alimentacion</option>
                <option value="paraFarmacia">Para Farmacia</option>
                <option value="basicosHogar">Basicos Del Hogar</option>
                <option value="HigieneBelleza">Higiene Y Belleza</option>
                <option value="mascotas">Mascotas</option>
                <option value="bebe">Bebe</option>
                <option value="bebidas">Bebidas</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Registrar Imagen</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="imagen" style="display:none"
                  (change)="seleccionImagen($event)" #photoInput>
                <label class="custom-file-label longdesc" for="imagen">
                  {{ruta}}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="descripcion" class="col-form-label">
            Descripcion del producto:
          </label>
          <textarea class="form-control" id="descripcion" rows="3"
            style="min-height: 100px; max-height: 150px;"></textarea>
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between align-items-end">
            <label for="requisitos">Productos A Registrar</label>
            <button class="btn btn-outline-info" type="button" (click)="enlistar()">
              <i class="fa fa-plus"></i>
              <i class="fa fa-shopping-cart"></i>
              Añadir A Registro
            </button>
          </div>
          <div class="table-responsive mt-3">
            <table class="table align-middle table-hover table-bordered" id="requerimientos">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" scope="col">
                    Nombre
                  </th>
                  <th class="text-center" scope="col">
                    Precio
                  </th>
                  <th class="text-center" scope="col">
                    Fecha de vencimiento
                  </th>
                  <th class="text-center" scope="col">
                    Cantidad
                  </th>
                  <th class="text-center" scope="col">
                    Categoria
                  </th>
                  <th class="text-center" scope="col">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productos of listaProducto; index as i">
                  
                  <td>{{productos.getNombre()}}</td>
                  <td>{{productos.getPrecio()}}bs</td>
                  <td>{{productos.getFecha()}}</td>
                  <td>{{productos.getCantidad()}}</td>
                  <td>{{productos.getTipo()}}</td>
                  <td class="text-center">
                    <div class="btn btn-group" role="group">
                      <button class="btn btn-outline-danger" type="button" title="borrar producto del carrito">
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputpwd2">Cantidad Total De Productos</label>
                        <div class="input-group">
                            <input class="form-control bg-white" formControlName='precio' readonly value="{{cantidadTotal}}">
                            <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-sort-numeric-up"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputpwd2">Precio Total De Compra</label>
                        <div class="input-group">
                            <input class="form-control bg-white" formControlName='precio' readonly value="{{precioTotal}}">
                            <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
                        </div>
                    </div>
                </div> -->
        <div class="card-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary">
            Cancelar Registro
          </button>
          <button type="button" class="btn btn-primary" (click)="registrarProducto()" >
            Registar Productos
            <i class="fa fa-money-bill"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
