
.aux          { overflow-y: auto; height: 200px; }
.aux th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; 
  border:1px solid #566573;}
th, td { padding: 8px 16px; }
th     { background:solid rgb(12, 10, 10); }



















/*.aux {
  display:inline-block;
  max-height:460px;
  overflow-y:auto;
}*//*
table {
  overflow-y: auto;
  height: 50vh;    */ /* !!!  HEIGHT MUST BE IN [ vh ] !!! */
/*}

thead th {
  position: sticky;
  top: 0;
}


table.table-bordered{
  border:1px solid #566573;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid #566573;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #566573;
}*/